body {
    background-image: url("background-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
}

.wraper{
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.main_content, .main, .projects, .experience, .education, .e-3, .e-2, .e-1 {
    padding: 2%;
    box-sizing: border-box;
    width: 100%;
}

.sidebar {
    background: #E0EBFE;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 100%;
    order: 1;
}

.sidebar-photo {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

ol {
    list-style: none;
    padding-left: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

li {
    padding-left: 15px;
    padding-top: 10px;
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: center; /* Центрируем элементы по вертикали */
    
  
}

.sidebar-content, .contacts, .t-s, .s-s, .Languages {
    padding: 2%;
    box-sizing: border-box;
}
.sidebar-icon{
  height: 30px;
  width: 30px;
}

h1, h2, h3, h4 {
    font-family: 'Georgia', serif;
    font-weight: bold;
}

/* Media queries for different screen sizes */
@media (min-width: 768px) {
    .wraper {
        flex-direction: row-reverse;
    }
    .main_content, .main, .projects, .experience, .education, .sidebar {
        width: 48%;
    }
    .sidebar-content, .contacts, .t-s {
        padding: 5%;
    }
}

@media (min-width: 1024px) {
    .main_content, .main, .projects, .experience, .education {
        width: 70%;
    }
    .sidebar {
        width: 28%;
    }
    .sidebar-content, .contacts, .t-s, .s-s, .Languages {
        padding: 10%;
    }
}

.binary-view {
    display: none;
    font-family: monospace;
    white-space: pre-wrap;
}

.text-view {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    margin: 0;
    display: inline;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.small-button {
    font-size: 14px;
    padding: 6px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.small-button:hover {
    background-color: #0056b3;
}
/* .binary-view {
  font-family: monospace;
  white-space: pre-wrap;
}

.text-view {
  display: none; 
} */
