* {
	margin: 0;
	padding: 0;
}
body {
    background-image: url("background-2.png");
    background-size: cover; /* Фон занимает всю площадь контейнера */
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 5%; /* Относительные единицы для адаптивности */
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
  }
  
  .wraper {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; /* Позволяет элементам переходить на новую строку */
  }
  h1, h2, h3, h4{
    padding: 15px;
  }
  p{
    font-size: 12pt;
  }
  .main_content, .main, .projects, .experience, .education{
    padding: 4%; /* Относительные единицы для адаптивности */
    box-sizing: border-box;
    width: 100%; /* Делаем блоки на всю ширину */
  }
  
  .sidebar {
    background: #E0EBFE;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    width: 100%; /* Робимо блок на всю ширину */
    order: 1; /* Додаємо порядок для сайдбару */
     /* Вирівнювання вмісту по центру */
  }
  
  .sidebar-photo {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  ol {
    list-style: none;
    padding-left: 10px;
  }
  ul {
    list-style-type: none;
    padding-left: 0; /* Видаляємо відступи у списку */
    margin-left: 0;
  }
  .exp{
    list-style-type: '✔';
  }
  li{
    padding-left: 15px;
    font-size: 15pt;
  }
  .sidebar-content, .contacts, .t-s, .Languages {
    padding: 2%;
    box-sizing: border-box;
  }
  .sidebar-icon{
    height: 25px;
    width: 25px;
    padding-right: 15px;
    
  }
  .contacts-icon{
    height: 30px;
    width: 30px;
    margin-right: 16px;
    
  }
  h1, h2, h3, h4 {
    font-family: 'Georgia', serif;
    font-weight: bold;
  }
  .soft_icon, .contacts_{
    display: flex;
    flex-wrap: wrap;
  }
  .soft_skil{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 5px;
  }
  
  /* Медиазапросы для различных размеров экранов */
  @media (min-width: 768px) {
    .wraper {
      flex-direction: row-reverse;
    }
    .main_content {
      width: 48%; /* Две колонки по 50% минус отступы */
    }
    .sidebar-content, .contacts, .t-s {
      padding: 5%;
    }
  }
  
  @media (min-width: 1024px) {
    .main_content {
      width: 70%; /* Основной контент 70% */
    }
    .sidebar {
      width: 28%; /* Сайдбар 30% минус отступы */
    }
    .sidebar-content, .contacts, .t-s, .s-s, .Languages {
      padding: 10%;
    }
  }
  